language: node_js
node_js:
  - "node"
install: 
  - npm install mysql
  - npm install ejs

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
  - export PATH=$PATH/

jobs:
  include:
    - script:
        - ./testscript # start a Web server
        # give Web server some time to bind to sockets, etc



