<% include headers/header %>



<div class="forgotPassword">
        <p id="titleForgot"> Forgot Your Password ?</p>
    <p id="forgotTitle"> Enter your Account Email Address</p>
    <p style="text-align:center;">An email with your password will be sent to you.</p>
    <hr>
<form action="/forgotPassword" method="post" id="forgotForm" >
  
        <input type="email" name="email_reset" class="email_reset" id="email_reset" aria-describedby="emailHelp" placeholder="Enter email">
  

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>



<% include headers/footer %>
