<% include headers/header %>
<div class="nav_bar">
    <a class="title" href="homepage.html">School App</a>

    <div class="logIn" >

        <form action="/login" method="post" id="logInForm" >
            <label for="Email" class="label_logIn">Email:</label>
            <input type="email" name="email_logIn" id="email_logIn" required/>

            <label for="password" class="label_logIn">Password:</label>
            <input type="password" id="password_logIn" name="password_logIn"  required/>
            <button type="submit" id="button_LogIn">Log In</button>
        </form>
    </div>
            <form action="/forgotPassword" method="get">
                <button type="submit" id="button_password">Forgot Password ?</button>
            </form>
          
</div>

<div class="signUpBox">
	
	<div class="boxHeader">
    <h1 id="title">SIGN UP AS A:</h1>
		
	</div>

    <form action="/signup" method="post" id="signUpForm" name="signUpForm">
      
		
	
      <div class="accountType">
        <input type="radio" checked name="account" id="radio_Parent" class="radioSwitch" value="parent"  />
        <label for="radio_Parent" class="radioLabel" >Parent</label>
            <input type="radio"  name="account" id="radio_Teacher" class="radioSwitch"  value="teacher"/>
            <label for="radio_Teacher" class="radioLabel switch">Teacher</label>
			 <span class="select"></span>
			
        </div>
	
    

        <div class="accountInfo">
			
			

            <label for="firstName" class="inputLabel">Your First Name:</label>
            <input type="text" class="input_SignIn" id="firstName" name="firstName" placeholder="e.g: 'Micheal'" required/>

            <label for="lastName" class="inputLabel">Your Last name:</label>
            <input type="text" class="input_SignIn" id="lastName" name="lastName" placeholder="e.g: 'Subban'" required/>

            <label for="childID" id="childIDLabel" class="inputLabel" style="display:block">Your Childs Student ID:</label>
            <input type="text" class="input_SignIn" id="childID" name="childID" placeholder="x Digit Student ID" style="display:block" required />
			
			<label for="classID" id="classIDLabel" class="inputLabel" style="display: none" disabled>Your Class ID:</label>
            <input type="text" class="input_SignIn" id="classID" name="classID" placeholder="x Digit Class ID" style="display: none" disabled />

            <label for="email" class="inputLabel">Email Address:</label>
            <input type="email" class="input_SignIn" id="email" name="email" placeholder="example@hotmail.com" required/>

            <label for="password" class="inputLabel">Password:</label>
            <input type="password" class="input_SignIn" id="password" name="password" placeholder="must be 'x' chars long" required/>
        </div>
		
		 <p id="identifier">You are registering as a parent.</p>
<button type="submit" id="button_SignUp">Sign Up</button>


    </form>

</div>


<script> 
	

	
	var childInput = document.getElementById("childID");
	var classInput = document.getElementById("classID");
	
	var childLabel = document.getElementById("childIDLabel");
	var classLabel = document.getElementById("classIDLabel");
	var identifier = document.getElementById("identifier").innerHTML;
	
	
// Function to change the view of the form. Part of this code if taken from https://stackoverflow.com/questions/8838648/onchange-event-handler-for-radio-button-input-type-radio-doesnt-work-as-one
	
	
	var account = document.signUpForm.account;
    var prev = null;
    for(var i = 0; i < account.length; i++) {
        account[i].onclick = function() {
            if(this !== prev) {
                prev = this;
            }
            
			if(this.value == 'parent'){
				
			childInput.style.display='block';
			childLabel.style.display='block';
			childInput.required = true;
			childInput.disabled = false;	
				
			classLabel.style.display='none';
			classInput.style.display='none';
			classInput.required = false;
			classInput.disabled = true;
				
				
				
			document.getElementById("identifier").innerHTML = "You are registering as a parent."	
					
			}
			
			if(this.value == 'teacher'){
						
			childInput.style.display='none';
			childLabel.style.display='none';
			childInput.required = false;
			childInput.disabled = true;
				
			classInput.style.display='block';	
			classLabel.style.display='block';
			classInput.required = true;
			classInput.disabled = false;
				
				
			document.getElementById("identifier").innerHTML = "You are registering as a teacher."					
				
			}
					
        };
    };
    
	
	

	</script>

<% include headers/footer %>
