.sidebar {
	width: 10%;
	margin-right: 2%;
	float: left;
	border-style: solid;
}

.sidebar iframe {
	width:100%;
}

.post {
	width: 60%;
	float: left;
	border-style: solid;
}

.clearfix{
	clear: both
}