<% include headers/header %>


<form action="/forgotPassword" method="post" id="forgotForm" >
    <div>
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" name="email_reset" class="email_reset" id="email_reset" aria-describedby="emailHelp" placeholder="Enter email">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>





<% include headers/footer %>
