<% include headers/header %>

<div class="nav_bar">
    <a class="title" href="homepage.html">School App</a>

    <div class="quickAccess">

        <a class="quickAccess_title" href="#" onClick="dropDownTop();return false;"><em class="material-icons" style="float:left;font-size:30px;padding-right: 10px;">account_box</em><p>Khaled</p>  <em class="material-icons" style="float: right;font-size:30px">keyboard_arrow_down</em></a>



        <div class="quickAccess_list" id="quickAccess_list" style="display: none;">
            <a href="#"><i class="material-icons" style="font-size:20px;padding-right: 10px;">inbox</i>Inbox</a>


        </div>

    </div>
</div>

<div class="sidebar">
    <div class="sidebar_body">
        <div>
            <ul class="sidebar_menu">

                <li class="sidebar_menu_item">
                    <a href="#"><i class="material-icons" style="float: left;padding-right:10px;">account_circle</i>My Account</a>
                </li>

                <li class="sidebar_menu_item"><a href="#" onClick="dropDownSide();return false;"><em class="material-icons" style="float:left;padding-right:10px;">supervisor_account</em>Student Info <em class="material-icons" style="float: right;font-size:20px">keyboard_arrow_down</em></a>
                    <ul class="sidebar_studentInfo_dropDownMenu" id="dropDownList" style="display: block" >
                        <li class="sidebar_menu_item">
                            <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">stars</i>Grades</a>
                        </li>
                        <li class="sidebar_menu_item">
                            <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">date_range</i>Schedule</a>
                        </li>
                        <li class="sidebar_menu_item">
                            <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">school</i>Classes</a>
                        </li>
                    </ul>

                </li>

                <li class="sidebar_menu_item">
                    <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">contact_phone</i>Teacher Contact Info</a>
                </li>

                <li class="sidebar_menu_item">
                    <a href="#"><i class="material-icons" style="float:left;padding-right:10px;font-size:20px">help</i>Help</a>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="page_content">

    <div class="post">
        <form action="/posting" method="POST">
            Enter your post here:
            <br>
            <textarea name="parentPost"></textarea>
            <br>
            <button name="submitPost">Submit</button>
        </form>

        <ul>
            <% posts.forEach(function(u){ %>
                <li> <%= u.Content %> </li>
                <% }) %>
        </ul>


    </div>
</div>






<!-- Show/hide drop down menu -->
<script>


    function dropDownTop() {

        var dropDownList = document.getElementById("quickAccess_list");


        if(dropDownList.style.display === "block")
            dropDownList.style.display = "none";
        else
            dropDownList.style.display = "block";
    }


    function dropDownSide() {

        var dropDownList = document.getElementById("dropDownList");


        if(dropDownList.style.display === "block")
            dropDownList.style.display = "none";
        else
            dropDownList.style.display = "block";
    }

</script>

<% include headers/footer %>