/*signup page styling */

body{
    background-image: url(res/marble.jpg);

}


#title{
    font-size: 40px;
    font-family:  "Courier New";
    text-align: center;
    margin: auto;
    color:#FFF;

}

.accountType{

    font-size: 20px;
    padding-bottom: 3px;
    font-family:Consolas;
    color:#FFF;


}

.accountInfo{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.signUpBox {
    margin: auto;
    width: 400px;
    height: 550px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    border: solid 1px #9E9E9E;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #172443;


}

.inputLabel{

    position: absolute;
    display: block;
    text-align: left;
    margin-left: 90px;
    font-family: "Lucida Sans", "sans-serif";
    font-size: 10px;
    padding-top: 7px;
    color:white;

}

.logIn{

    float: right;
    margin-right:60px;



}



#logInForm{

    color:white;


}

#button_LogIn{


    margin-right: 110px;


}


#password_logIn, #email_logIn{


    padding-right:10px;
    width: 200px;
    height: 25px;
    margin-top:15px;
    padding-left: 10px;

}



.label_logIn{

    font-family:  "Courier New";


}


#button_SignUp{
    width: 100px;
    height: 25px;
    margin-top: 15px;
    padding-left: 10px;

}

#redirect_LogIn{

    text-align: center;
    font-size: 12px;
    font-family:Consolas;
    padding-top: 10px;

}

hr{

    opacity: 0.4;
}

input[type=text]{
    width: 200px;
    height: 25px;
    margin-top: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
}


.input_SignIn{
    width: 200px;
    height: 25px;
    margin-top: 20px;
    padding-left: 10px;
}
