body {
    margin: 0;
}

.nav_bar {
    overflow: hidden;
    background-image: url(res/header-blueBurst.jpg);
    height: 60px;
 	position: fixed;
  	top: 0;
  	width: 100%;
}

a.title {

    color: #FFFFFF;
    text-align: center;
    padding: 15px;
    font-size: 27px;
    text-decoration: none;
    float: left;
    padding-left: 10px;
    width: 245px;
    font-family: Monaco, "Courier New", "monospace";
    font-weight: 500;
}

.quickAccess_title {

    color: #FFFFFF;
    padding: 15px;
    font-size: 27px;
    text-decoration: none;
    margin-right: 50px;
    float: right;
    width: 300px;
    font-family: Monaco, "Courier New", "monospace";
    font-weight: 00;

}

.quickAccess{
    position: relative;
    float: right;
    z-index: 1;
}

.quickAccess_title:hover{

    background-color: #172443;
}



.quickAccess_list{

    position: fixed;
    margin-top: 60px;
    z-index: 1;
    background-color: #7195B7;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 330px;


}

.quickAccess_list a{

    color: #FFFFFF;
    font-size: 25px;
    text-decoration: none;
    padding-left: 20px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;


}

.quickAccess_list a:hover{

    background-color: #84A5C5;
}


.title:hover {
    background-color: #172443;

}

.title a:hover{
    background-color: #172443;

}



.sidebar {
    position: fixed;
	margin-top: -15px;
    height: 100%;
    width: 270px;
    background: #0D1730;



}

.sidebar_body {

    margin-top: 20px;


}

.sidebar_menu {

    padding: 0;
    list-style: none;

}


.sidebar_menu_item a:hover{

    background-color: #172443;



}

.sidebar_menu_item a{

    text-decoration: none;
    color: aliceblue;
    display: block;
    padding: 20px;
    font-family: Cambria;
    font-size: 17px;
    padding-bottom: 15px;
    padding-top: 15px;

}

.sidebar_menu_item_sub a{

    text-decoration: none;
    color: aliceblue;
    display: block;
    padding: 20px;
    font-family: Cambria;
    font-size: 17px;
    padding-bottom: 15px;
    padding-top: 15px;

}


.sidebar_menu_item_sub a{

    text-decoration: none;
    color: aliceblue;
    display: block;
    padding: 20px;
    font-family: Cambria;
    font-size: 17px;
    padding-bottom: 15px;
    padding-top: 15px;



}


.sidebar_studentInfo_dropDownMenu{

    list-style: none;

}

.page_content{

	width: 1300px;
	border-right-color: black;
    margin-left: 285px;
    margin-top: 75px;
    height: 100%;



}


#button_newPost{
    width: 100px;
    height: 40px;
	text-align: center;
	cursor: pointer;
	background-color: #3A4E81;
	color: #FFF;
	border-radius: 5px;
	font-size: 15px;


}

#button_newPost:hover{

	background-color: #172443;


}


.textArea{

	padding: 10px;

}

#textPost{

	padding: 5px 5px;
	resize: none;
	border-radius: 4px;
	font-size: 20px;
	color: #7C7C7C;
	border-width: thin;
	border-style: hidden;
	border-color: #F3F3F3;
	text-align: left;
	background: #F3F3F3;



}
#textPost:focus {
    background: #FFF;
   border-color: #000000;
	border-style: solid;
}

#submitPost{

	width: 120px;
    height: 40px;
	font-size: 20px;
	color: #FFF;
	margin-left: 1000px;
	cursor: pointer;
	background-color: gold;

	border-radius: 5px;
	border: none;


}

#submitPost:hover{

	background-color: #DCB900;


}

#tableTitle{

	margin-top: 30px;
    font-size: 20px;
    font-weight: bold;

}
.postingsTable{


	margin-top: 30px;
	width: 1220px;
	font-size: 20px;
	border-spacing: 0px;
	border-bottom: 1px solid rgba(192, 192, 192, 0.993);



}

.commentsTable{

    margin-top: 30px;
	width: 1220px;
	font-size: 15px;

	border-bottom: 1px solid rgba(192, 192, 192, 0.993);

}

#tableWrap {
  position:relative;
  padding-top: 10px;
  z-index: 0;
}
#tableScroll {
  height:800px;
  overflow:auto;


}



 td, tr{



	 border-top: 1px solid rgba(192, 192, 192, 0.993);
     padding: 5px;


}


.postAuthor{

	color: #3a3a3a;
	display: block;
	font-family:Verdana;


}

.postContent{

	height: wrap;
	width: 800px;
	margin-top: 10px ;
	margin-bottom: 10px;
	margin-left: 30px;




}
.postText{
	font-size: 25px;
	font-family: "Times New Roman";
}

.commentAuthor{

    color: #575656;
	display: block;

}

.linkedPost{

height: wrap;
border:solid;
padding: 10px;
margin-bottom: 10px;
background-color: rgb(240, 240, 240);

}

#commentTitle{

font-weight: 600;
margin-bottom: -20px;
font-weight: 20px;

}

textarea{

    resize: none;

}

#replyBox{

    margin-left: 30px;

}

#submitComment{

    width: 70px;
    height:30px;
    margin-bottom: 10px;
    display: block;



}

#replayArea{
 
    text-align: left;

}#replayArea:focus{
   text-align: left;
   border-color: #000000;
	border-style: solid;
}